body {
 background-color:#cfebf1;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: inline-block;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
    text-align: initial;
    margin-top: 2rem;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: yellow;
}

#select {
margin-top: 1rem;
font-size: 20px;
font-weight: 600;
}

table{
    margin-top: 2rem;
}

td, th {
    padding: 1rem;
    border: 1px solid black;
}